{{#each this}}
<li class="gallery__item" id="{{id}}">
    <div class="gallery__film-image">
        <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" loading="lazy" alt="{{title}}" width="394" height="574" class="gallery_image" />
    </div>
    <div class="gallery__film-info">
        <p class="gallery__film-name">{{title}}</p>
        <p class="gallery__film-subscription">{{genre_ids}} | {{release_date}}
        <span class="gallery_film-vote visually-hidden">{{vote_average}}</span></p>
    </div>
    </div>
</li>
{{/each}}