
    <div class="modal__film-image">
        <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" loading="lazy" alt="{{title}}"
            class="modal_image" />
    </div>
    <div class="modal__film-info">
        <p class="modal__film-name">{{title}}</p>
        <p class="modal__film-subscription">{{genre_ids}} | {{release_date}}
            <span class="modal_film-vote ">{{vote_average}}</span>
        </p>
    </div>
    </div>
